<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clogout</servlet-name>
        <servlet-class>clogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clogin</servlet-name>
        <servlet-class>clogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadFile</servlet-name>
        <servlet-class>uploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>conf</servlet-name>
        <servlet-class>conf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confRegistration</servlet-name>
        <servlet-class>confRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clogout</servlet-name>
        <url-pattern>/clogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clogin</servlet-name>
        <url-pattern>/clogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFile</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conf</servlet-name>
        <url-pattern>/conf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confRegistration</servlet-name>
        <url-pattern>/confRegistration</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
